html,body{
	height: 100%;
}

#container{
	height: 100%;
	width: 100%;
	background:rgba(0,0,0,0.4);
}


#floater{
	float:left;
	margin-top: 27%;
	width:1px; /* only for IE7 */
}


#new-story-panel{
	clear:both;
	position:relative;
	margin: 0 20%;
}


#new-story-text{
	margin:13px auto;
}

#new-story-summit{
	margin: 20px 0px 5px 5px;
	text-align: right;
}
